# Final proyect

Autor proyect: Daniel Grgurevic

## This notebook is about a summary of data science

**The objectives to be met in this notebook are**

1- Describe the most popular lenguaje use un Data science.

2-Describe main libraries.

3- Perform mathematical operations with code.

The most popular lenguages use in data science are:

1-Python

2-R

3-SQL

Some of the most main libraries used by Data scientists include:

1-Numpy

2-Pandas

3-TensorFlow

| Tool Name  |

|Apache Spark|

| TensorFlow | 

|   Pandas   |

### Below are a few examples of evaluating arithmetic expressions in Python

This is a simple arithmetic expression to perform a sum:

In [1]:
1+1

2

This is a simple arithmetic expression to perform a multiplication:

In [2]:
7*(1+6*3)

133

The following cell will convert 600 minutes to hours

In [3]:
600/60

10.0